
<div class="card" style="width: 18rem;">
  <img src="img/Logo_VacunAssist_1.png" class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">Bienvenido a Vacunasist</h5>
    <p class="card-text">En caso de tener una cuenta, Inicie sesion. De modo contrario Registrese para crear una.</p>
    <a href="/register" class="btn btn-secondary">Registrarse</a>
    <a href="/login" class="btn btn-secondary">Iniciar Sesion</a> 
    <br>
    <a href="/loginVacunador" class="btn btn-secondary">Iniciar Sesion Vacunador/Admin</a>
  </div>
</div>