    <nav class="nav nav-pills nav-fill">
        <a class="nav-link active" aria-current="page" href="/users/vacunador/homeVacunador">Dar de alta</a>
        <a class="nav-link" href="/users/vacunador/pacientesVacunador">Pacientes</a>
        <a class="nav-link" href="/users/vacunador/assignVaccineVacunador">Vacunar</a>
        <a class="nav-link" href="/logout">Cerrar Sesion</a>
    </nav>

    <div class="card" >
  

  <div class="card-body">
    <h5 class="card-title">Registro</h5>
    <form id="myForm" onsubmit="register2()">
        <label for="name">Nombre</label><br>
        <input id="name" type="text" name="name" required><br>

        <label for="Surname">Apellido</label><br>
        <input id="surname" type="text" name="surname" required><br>

        <label for="Password">Contraseña</label><br>
        <input id="password" type="password" minlength="6" name="password" required><br>

        <label for="Email">Email</label><br>
        <input id="email" type="email" name="email" required><br>

        <label for="Dni">Dni</label><br>
        <input id="dni" type="number" name="dni" required><br>

        <label for="risk">Riesgo:</label><br>
        <select id="risk">
          <option value="true">Si</option>
          <option value="false" selected>No</option>
        </select><br>

        <label for="birthday">Birthday:</label>
        <input type="date" id="dateBirth" name="dateBirth" required>

        <label for="vaccination">Vacunatorio</label><br>
        <input type="radio" id="vaccination" name="vaccination" value="municipalidad">
        <label for="municipalidad">municipalidad</label><br>
        <input type="radio" id="vaccination" name="vaccination" value="cementerio">
        <label for="cementerio">cementerio</label><br>
        <input type="radio" id="vaccination" name="vaccination" value="terminal omnibus">
        <label for="terminal omnibus">terminal omnibus</label><br>

        <h5>Hstorial de Vacunas</h5><br>

        <label for="selectCovid">Covid:</label><br>
        <select id="selectedCovid" onchange="selectCovid()">
          <option value="true">Si</option>
          <option value="false" selected>No</option>
        </select>
        <div id="informationCovid" style="display: none;">
          <label for="amount">Cantidad</label>
          <input id="amountCovid" type="number" name="amount">
          <label for="lastVaccineCovid">Fecha de ultima vacuna:</label>
          <input type="date" id="lastVaccineCovid" name="lastVaccineCovid">
        </div><br>

        <label for="selectGripe">Gripe:</label><br>
        <select id="selectedGripe" onchange="selectGripe()">
          <option value="true">Si</option>
          <option value="false" selected>No</option>
        </select>
        <div id="informationGripe" style="display: none;">
          <label for="lastVaccineCovid">Fecha de ultima vacuna:</label>
          <input type="date" id="lastVaccineGripe" name="lastVaccineGripe">
        </div><br>

        <label for="selectFiebre">Fiebre:</label><br>
        <select id="selectedFiebre">
          <option value="true">Si</option>
          <option value="false" selected>No</option>
        </select><br>

        <br>
        <input type="submit" value="Save"class="btn btn-secondary">
    </form>
  </div>
</div>