<div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">Iniciar Sesion</h5>
    <p class="card-text">Inicia sesion en vacunasist</p>
    <form id="myForm" action="/users/patient/login" method="POST" >
    <label for="Email">Email</label><br>
    <input id="email" type="email" name="email" required><br>

    <label for="doubleFactor">Factor Doble</label><br>
    <input id="doubleFactor" type="password"  name="doubleFactor" required><br>

    <label for="Password">Contraseña</label><br>
    <input id="password" type="password"  name="password" required><br>
    <br>
    <input type="submit" value="Save"class="btn btn-secondary">
    </form>
  </div>
</div>