    <nav class="nav nav-pills nav-fill">
        <a class="nav-link active" aria-current="page" href="/users/patient/userInformation">Informacion</a>
        <a class="nav-link" href="/userTurn">Solicitar Turnos</a>
        <a class="nav-link" href="/users/patient/modifyData">Modificar Datos</a>
        <a class="nav-link" href="/logout">Cerrar Sesion</a>
    </nav>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Mis vacunas</h5>
            <p class="card-text">Este es tu historial de vacunas</p>
            <ul class="people_list">
            {{#each infoVaccines}}

                <li>Vacuna: {{{this.type}}}</li>
                <p>Fecha: {{{this.date}}}</p>
            {{/each}}
            </ul>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Mis turnos</h5>
            <p class="card-text">Estos son tus proximos turnos</p>
            {{#each infoTurns}}
                <li>Vacuna: {{{this.vaccine}}}</li>
                <p>Fecha: {{{this.date}}}</p>
            {{/each}}
        </div>
    </div>